beanie==1.29.0
cloudinary==1.42.1
fastapi==0.115.12
fastapi_mail==1.4.2
httpx==0.28.1
Jinja2==3.1.6
motor==3.7.0
passlib==1.7.4
Pillow==11.1.0
pydantic==2.11.2
pydantic_settings==2.8.1
pymongo==4.11.3
python_jose==3.3.0
starlette==0.46.1
uvicorn==0.34.0
itsdangerous
python-multipart
